In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
import seaborn as sn
from collections import Counter

In [3]:

file = "csv_data/2015.csv"
file1 = "csv_data/2016.csv"
file2 = "csv_data/2017.csv"
file3 = "csv_data/2018.csv"
file4 = "csv_data/2019.csv"

In [4]:
# Dataframes by year

df_2015 = pd.read_csv(file)
df_2016 = pd.read_csv(file1)
df_2017 = pd.read_csv(file2)
df_2018 = pd.read_csv(file3)
df_2019 = pd.read_csv(file4)

In [5]:
#checks number of rows and columns 
print("2015: ", df_2015.shape)
print("2016: ", df_2016.shape)
print("2017: ", df_2017.shape)
print("2018: ", df_2018.shape)
print("2019: ", df_2019.shape)

2015:  (158, 12)
2016:  (157, 13)
2017:  (155, 12)
2018:  (156, 9)
2019:  (156, 9)

In [6]:
df_2015.isna().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [7]:
df_2015.rename(columns={'Happiness Rank':'rank', 'Happiness Score':'score', 'Economy (GDP per Capita)': 'gdp',
                      'Health (Life Expectancy)': 'health', 'Trust (Government Corruption)': 'corruption',
                      "Dystopia Residual": "dystopia"},
                        inplace = True)
df_2015.columns = df_2015.columns.str.lower()
df_2015.columns

Index(['country', 'region', 'rank', 'score', 'standard error', 'gdp', 'family',
       'health', 'freedom', 'corruption', 'generosity', 'dystopia'],
      dtype='object')

In [8]:
df_2015.drop(columns = ['region', 'standard error'], inplace = True)
df_2015.sample(5)

,country,rank,score,gdp,family,health,freedom,corruption,generosity,dystopia
81,Jordan,82,5.192,0.90198,1.05392,0.69639,0.40661,0.14293,0.11053,1.87996
143,Niger,144,3.845,0.06940,0.77265,0.29707,0.47692,0.15639,0.19387,1.87877
140,Uganda,141,3.931,0.21102,1.13299,0.33861,0.45727,0.07267,0.29066,1.42766
123,Mauritania,124,4.436,0.45407,0.86908,0.35874,0.24232,0.17461,0.21900,2.11773
146,Madagascar,147,3.681,0.20824,0.66801,0.46721,0.19184,0.08124,0.21333,1.85100

In [9]:
df_2016.isna().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [10]:
df_2016.columns = df_2016.columns.str.lower()
df_2016.rename(columns={'happiness rank':'rank', 'happiness score':'score', 'economy (gdp per capita)': 'gdp',
                      'health (life expectancy)':'health', 'trust (government corruption)': 'corruption',
                      "dystopia residual": "dystopia"},
                       inplace = True)
df_2016.columns

Index(['country', 'region', 'rank', 'score', 'lower confidence interval',
       'upper confidence interval', 'gdp', 'family', 'health', 'freedom',
       'corruption', 'generosity', 'dystopia'],
      dtype='object')

In [11]:
df_2016.drop(columns = ['lower confidence interval','upper confidence interval',
                      'region'],
           inplace = True)
df_2016.sample(5)

,country,rank,score,gdp,family,health,freedom,corruption,generosity,dystopia
78,Indonesia,79,5.314,0.95104,0.87625,0.49374,0.39237,0.00322,0.56521,2.03171
54,Moldova,55,5.897,0.69177,0.83132,0.52309,0.25202,0.01903,0.19997,3.38007
94,Macedonia,95,5.121,1.01930,0.78236,0.64738,0.27668,0.07047,0.23507,2.08947
26,Czech Republic,27,6.596,1.30915,1.00793,0.76376,0.41418,0.03986,0.09929,2.96211
148,Tanzania,149,3.666,0.47155,0.77623,0.35700,0.31760,0.05099,0.31472,1.37769

In [12]:
df_2017.isna().sum()

Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64

In [13]:
df_2017.columns = df_2017.columns.str.replace(".", "")
# let's convert into lower case
df_2017.columns = df_2017.columns.str.lower()
df_2017.rename(columns = {"happinessrank": "rank", "happinessscore": "score", "healthlifeexpectancy": "health",
                        "economygdppercapita": "gdp", "trustgovernmentcorruption": "corruption",
                        "dystopiaresidual": "dystopia"}, inplace = True)
df_2017.columns

Index(['country', 'rank', 'score', 'whiskerhigh', 'whiskerlow', 'gdp',
       'family', 'health', 'freedom', 'generosity', 'corruption', 'dystopia'],
      dtype='object')

In [14]:
df_2017.drop(columns = ['whiskerhigh', 'whiskerlow'], inplace = True)
df_2017.sample(5)

,country,rank,score,gdp,family,health,freedom,generosity,corruption,dystopia
122,Mauritania,123,4.292,0.648457,1.272031,0.285349,0.096098,0.201870,0.136957,1.651637
64,Cyprus,65,5.621,1.355938,1.131363,0.844715,0.355112,0.271254,0.041238,1.621249
86,Greece,87,5.227,1.289487,1.239415,0.810199,0.095731,0.000000,0.043290,1.749222
149,Togo,150,3.495,0.305445,0.431883,0.247106,0.380426,0.196896,0.095665,1.837229
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715

In [15]:
df_2018.isna().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

In [16]:
df_2018.columns = df_2018.columns.str.lower()
df_2018.rename(columns = {"overall rank": "rank", "country or region": "country",
                         "freedom to make life choices": "freedom", "perceptions of corruption": "corruption",
                        "gdp per capita": "gdp", "healthy life expectancy": "health",
                        "social support": "family"}, inplace=True)
df_2018.columns = df_2018.columns.str.replace(" ", "_")
df_2018.columns

Index(['rank', 'country', 'score', 'gdp', 'family', 'health', 'freedom',
       'generosity', 'corruption'],
      dtype='object')

In [17]:
df_2019.columns = df_2019.columns.str.lower()
df_2019.rename(columns = {"overall rank": "rank", "country or region": "country",
                         "freedom to make life choices": "freedom", "perceptions of corruption": "corruption",
                        "gdp per capita": "gdp", "healthy life expectancy": "health",
                        "social support": "family"}, inplace=True)
df_2019.columns = df_2019.columns.str.replace(" ", "_")
df_2019.columns

Index(['rank', 'country', 'score', 'gdp', 'family', 'health', 'freedom',
       'generosity', 'corruption'],
      dtype='object')

In [18]:
df_2019.isna().sum()

rank          0
country       0
score         0
gdp           0
family        0
health        0
freedom       0
generosity    0
corruption    0
dtype: int64

In [19]:
def print_all_dataframe_columns():
    print("2015:\n", df_2015.columns.to_list())
    print("\n2016:\n", df_2016.columns.to_list())
    print("\n2017:\n", df_2017.columns.to_list())
    print("\n2018:\n", df_2018.columns.to_list())
    print("\n2019:\n", df_2019.columns.to_list())
    
print_all_dataframe_columns()

2015:
 ['country', 'rank', 'score', 'gdp', 'family', 'health', 'freedom', 'corruption', 'generosity', 'dystopia']

2016:
 ['country', 'rank', 'score', 'gdp', 'family', 'health', 'freedom', 'corruption', 'generosity', 'dystopia']

2017:
 ['country', 'rank', 'score', 'gdp', 'family', 'health', 'freedom', 'generosity', 'corruption', 'dystopia']

2018:
 ['rank', 'country', 'score', 'gdp', 'family', 'health', 'freedom', 'generosity', 'corruption']

2019:
 ['rank', 'country', 'score', 'gdp', 'family', 'health', 'freedom', 'generosity', 'corruption']

In [20]:
# Add column to each Dataframe to identify each year

df_2015['year'] = '2015'
df_2016['year'] = '2016'
df_2017['year'] = '2017'
df_2018['year'] = '2018'
df_2019['year'] = '2019'

df_2017.columns

Index(['country', 'rank', 'score', 'gdp', 'family', 'health', 'freedom',
       'generosity', 'corruption', 'dystopia', 'year'],
      dtype='object')

In [21]:
#need to explain how we calculated the avg dystopia 

df_2018["dystopia"] = 2.092716638021185
df_2019["dystopia"] = 2.092716638021185

In [22]:
main_data = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019]).reset_index(drop=True)
main_data.shape
main_data.sample(5)

,country,rank,score,gdp,family,health,freedom,corruption,generosity,dystopia,year
390,Jamaica,76,5.311,0.925579,1.368218,0.641022,0.474307,0.055268,0.233818,1.612326,2017
295,Comoros,138,3.956,0.275090,0.603230,0.299810,0.154120,0.184370,0.182700,2.256320,2016
543,Turkey,74,5.483,1.148000,1.380000,0.686000,0.324000,0.109000,0.106000,2.092717,2018
536,Moldova,67,5.640,0.657000,1.301000,0.620000,0.232000,0.000000,0.171000,2.092717,2018
310,Benin,153,3.484,0.394990,0.104190,0.210280,0.397470,0.066810,0.201800,2.108120,2016

In [23]:
main_data.country = main_data.country.str.lower().str.replace(" ", "_")

main_data.isna().sum()

country       0
rank          0
score         0
gdp           0
family        0
health        0
freedom       0
corruption    1
generosity    0
dystopia      0
year          0
dtype: int64

In [24]:
main_data[main_data.isna().values]

,country,rank,score,gdp,family,health,freedom,corruption,generosity,dystopia,year
489,united_arab_emirates,20,6.774,2.096,0.776,0.67,0.284,NaN,0.186,2.092717,2018

In [25]:
main_data.loc[main_data.country == "united_arab_emirates"]

,country,rank,score,gdp,family,health,freedom,corruption,generosity,dystopia,year
19,united_arab_emirates,20,6.901,1.427270,1.12575,0.809250,0.641570,0.38583,0.264280,2.247430,2015
185,united_arab_emirates,28,6.573,1.573520,0.87114,0.729930,0.562150,0.35561,0.265910,2.215070,2016
335,united_arab_emirates,21,6.648,1.626343,1.26641,0.726798,0.608345,0.32449,0.360942,1.734704,2017
489,united_arab_emirates,20,6.774,2.096000,0.77600,0.670000,0.284000,NaN,0.186000,2.092717,2018
646,united_arab_emirates,21,6.825,1.503000,1.31000,0.825000,0.598000,0.18200,0.262000,2.092717,2019

In [26]:
avg_corruption = main_data.loc[main_data.country == "united_arab_emirates", "corruption"].mean()
main_data.corruption.fillna(avg_corruption, inplace=True)

In [27]:
main_data.isna().sum().any()

False

In [29]:
main_data.sample(5)

,country,rank,score,gdp,family,health,freedom,corruption,generosity,dystopia,year
672,argentina,47,6.086,1.092000,1.432000,0.881000,0.471000,0.050000,0.066000,2.092717,2019
290,sudan,133,4.139,0.630690,0.819280,0.297590,0.000000,0.100390,0.180770,2.109950,2016
721,cameroon,96,5.044,0.549000,0.910000,0.331000,0.381000,0.037000,0.187000,2.092717,2019
100,swaziland,101,4.867,0.712060,1.072840,0.075660,0.306580,0.030600,0.182590,2.486760,2015
420,sierra_leone,106,4.709,0.368421,0.984136,0.005565,0.318698,0.071095,0.293041,2.668460,2017