In [2]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.1-py3-none-any.whl (285 kB)
Requirement already satisfied: pandas>=0.23 in c:\users\carlos\anaconda3\envs\pythondata\lib\site-packages (from seaborn) (1.0.5)
Requirement already satisfied: scipy>=1.0 in c:\users\carlos\anaconda3\envs\pythondata\lib\site-packages (from seaborn) (1.5.0)
Requirement already satisfied: matplotlib>=2.2 in c:\users\carlos\anaconda3\envs\pythondata\lib\site-packages (from seaborn) (3.2.2)
Requirement already satisfied: numpy>=1.15 in c:\users\carlos\anaconda3\envs\pythondata\lib\site-packages (from seaborn) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\carlos\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.23->seaborn) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\carlos\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.23->seaborn) (2020.1)
Requirement already satisfied: cycler>=0.10 in c:\users\carlos\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\carlos\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\carlos\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=2.2->seaborn) (1.2.0)
Requirement already satisfied: six>=1.5 in c:\users\carlos\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.23->seaborn) (1.15.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.1

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
import seaborn as sn

In [4]:
def plot_linear_regression(x_values, y_values, title, text_coordinates):
    (slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
    regress_values = x_values * slope + intercept
    line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
    
    plt.scatter(x_values,y_values)
    plt.plot(x_values,regress_values,"r-")
    plt.annotate(line_eq,text_coordinates,fontsize=14,color="red")
    plt.xlabel("Latitude")
    plt.ylabel(title)
    print(f"The r-squared is: {rvalue}")
    plt.show()

In [5]:

file = "csv_data/2015.csv"
file1 = "csv_data/2016.csv"
file2 = "csv_data/2017.csv"
file3 = "csv_data/2018.csv"
file4 = "csv_data/2019.csv"

In [6]:
# Dataframes by year

df_2015 = pd.read_csv(file)
df_2016 = pd.read_csv(file1)
df_2017 = pd.read_csv(file2)
df_2018 = pd.read_csv(file3)
df_2019 = pd.read_csv(file4)

In [7]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [8]:
# Add column to each Dataframe to identify each year

df_2015['Year'] = '2015'
df_2016['Year'] = '2016'
df_2017['Year'] = '2017'
df_2018['Year'] = '2018'
df_2019['Year'] = '2019'

In [9]:
# stack data frames
#  df.to_csv('results.csv')

In [14]:
# df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019],
#       axis=1,
# #     join="outer",
# #     ignore_index=False,
# #     keys=None,
# #     levels=None,
# #     names=None,
# #     verify_integrity=False,
# #     copy=True,
#       inplace=True,)
# df.head()

TypeError: concat() got an unexpected keyword argument 'inplace'

In [ ]:
years =